<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header__title">
        <h1>All Products</h1>
    <div class="productos">
        <div class="producto">
        <% productos.forEach(producto => { %>           
           <img src="<%= producto.image %>" alt="" class="imagen">
           <% if (producto.discount > 0) { %>
            <div class="on-sale"><%= producto.onSale %></div>
           <% } %>
           <div><%= producto.title %></div>
           <div>-</div>
           <div class="money"><%= producto.money %></div>
           <div class="comparePrice">
            <div class="money"><%= producto.finalPrice %></div>
           </div>
        <% }) %>
        </div>
    </div>
</body>
</html>