<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/header.ejs') %>
<div class="todo">

  <div class="imagenInicio">
        <img srcset="/images/fotoInicio2.png">
        <div class="escritoImgInicio">
          <p>BUY 3 GET 1 FREE</p>
          <h3 style="font-size:2em;">Comfy Paw Socks</h3>
          <button class="shop-now">SHOP NOW</button>
        </div>
  </div>

  <div class="section-header text-center">
    <div class="header__title">
      <h2>Trending Products</h2>
      <hr class="hr--small">
    </div>
    <div class="productos">  
      <% productos.forEach(producto => { %>  
        <a class="productoADetalle" href="/detalle/<%= producto.id %>">
    <div class="producto productoAll">
    <div class="imagenAll">
       <img src="/images/products/<%= producto.images[0] %>" alt="" class="imagenAll" style="height: auto;;">
    </div>
       <% if (producto.discount > 0) { %>
        <div class="on-sale"><b>Sale</b></div>
        <div><%= producto.name %></div>
       <div>-</div>
       <div class="money">$<%= ((producto.price)-(producto.price)*(producto.discount/100)) %></div>
        <div class="comparePrice">
            <div class="money">$<%= producto.price %></div>
           </div>
       <% } else { %>
       <div><%= producto.name %></div>
       <div>-</div>
       <div class="money"><%= producto.price %></div>
       <% } %>
    </div>
</a>
    <% }) %>
    </div>
      <!-- <div class="producto">
        <div>
       <img src="/images/TrendingProducts/Primer-Producto.png" class="imagen" alt="PrimerProducto">
        <div class="on-sale">
          <b>Sale</b>
        </div>
      </div>
        <a href="" style="text-align: center;">
          <div>Windmill Cat Toy</div>
          <div>-</div>
          <div class="money">$24.99</div>
          <div class="comparePrice"><div class="money">$33.00</div></div>
        </a>
      </div>
      <div class="producto">
        <img src="/images/TrendingProducts/Segundo-Producto.jpg" class="imagen" alt="SegundoProducto">
        <div class="on-sale">
          <b>Sale</b>
        </div>
        <a href="">
          <div>London Cat Tree</div>
          <div>-</div>
          <div class="money">$134.99</div>
          <div class="comparePrice"><div class="money">$143.00</div></div>
        </a>
      </div>
      <div class="producto">
        <img src="/images/TrendingProducts/Tercer-Producto.jpg" class="imagen" alt="TercerProducto">
        <a href="">
          <div>Double Cat Shelf</div>
          <div>-</div>
          <div class="money">$139.99</div>
        </a>
      </div>
      <div class="producto">
        <img src="/images/TrendingProducts/Cuarto-Producto.jpg" class="imagen" alt="CuartoProducto">
        <a href="">
          <div>Mouse Cage Ball</div>
          <div>-</div>
          <div class="money">$7.99</div>
        </a>
      </div>
      <div class="producto">
        <img src="/images/TrendingProducts/Quinto-Producto.jpg" class="imagen" alt="QuintoProducto">
        <div class="on-sale">
          <b>Sale</b>
        </div>
        <a href="">
          <div>Banana Cat Bed</div>
          <div>-</div>
          <div class="money">$29.99</div>
          <div class="comparePrice"><div class="money">$60.00</div></div>
        </a>
      </div>
      <div class="producto">
        <img src="/images/TrendingProducts/Sexto-Producto.png" class="imagen" alt="SextoProducto">
        <div class="on-sale">
          <b>Sale</b>
        </div>
        <a href="">
          <div>Flopping Fish Cat Toy</div>
          <div>-</div>
          <div class="money">$24.99</div>
          <div class="comparePrice"><div class="money">$30.00</div></div>
        </a>
      </div>
    </div> -->
  <!-- </div> -->
  <div class="containerFC">
    <div class="section-header text-center">
      <div class="header__title">
        <h2>Featured Collections</h2>
        <hr class="hr--small">
      <div>
    </div>
  <div class="productos">
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/CatShelves.jpg" class="imagenFC" alt="">
        <div class="titles">
          Cat Shelves &amp; Trees
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/BananaCatBed.jpg" class="imagenFC" alt="">
        <div class="titles">
          Beds
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/Sale.jpg" class="imagenFC" alt="">
        <div class="titles">
          Sale
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/Toys.png" class="imagenFC" alt="">
        <div class="titles">
          Toys
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/Leggings.jpg" class="imagenFC" alt="">
        <div class="titles">
          Leggings
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/Socks-Gloves.jpg" class="imagenFC" alt="">
        <div class="titles">
          Socks &amp; Gloves
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/Jewelry.jpg" class="imagenFC" alt="">
        <div class="titles">
          Jewelry
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/Costumes.jpg" class="imagenFC" alt="">
        <div class="titles">
          Costumes
        </div>
      </div>
    </a>
    <a href="">
      <div class="recuadro">
        <img src="/images/FeaturedCollections/T-Shirts.jpg" class="imagenFC" alt="">
        <div class="titles">
          T-Shirts
        </div>
      </div>
    </a>
  </div>
  </div>
</div>

  <div class="beInTheKnow">    
      <div class="text-center">
        <h2 class="bitk">Be in the Know</h2>
      </div>
    
      <div class="text-center">
        <p>Promotions, discounts and more! Sign up now so that you don't miss out on any of our special offers.</p>
        <hr class="hr--small">
      </div>

      <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form" data-omnisend-captured-form="true"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">

        <input type="hidden" name="contact[tags]" value="newsletter">
        <div>
          <div class="email-subscribe">
            <input type="email" value="" placeholder="   Your email" name="contact[email]" class="email">
              <button class="subscribe" type="submit" aria-label="Subscribe">Subscribe</button>

          </div>
        </div>
      
    </form>
  

  </div>

  <div class="rich-text wrapper">
    <div class="grid">
      <div class="grid__item text-center large--two-thirds medium--two-thirds push--large--one-sixth push--medium--one-sixth">
        
          <div class="section-header">
            <h2 class="rich-text__heading--medium section-header__title h1">The Team Behind the Kittens</h2>
          </div>
        
        
          <div class="rte rich-text__text--medium">
            <p>Here at Kittenfy we are obsessed with two things.</p>
<p>Firstly, we are obsessed with cats&nbsp;🐈</p>
<p>Secondly, we are obsessed with unique, personal cat-themed products that express who your are and add a bit of joy into your life each time you use them&nbsp;😻</p>
<p>Add joy into your everyday life &amp; pick your favourite treats from our unique selection!</p>
<p>=^•.•^=</p>
          </div>
        <hr class="hr--small ultimo">
      </div>
    </div>
  </div>
</div>
</body>
<%- include('./partials/footer.ejs');-%>
</html>