<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs'); -%>
    <%- include('../partials/header.ejs'); -%>
<body>
    <section class="data-box">
        <div class="image-box">
            <% if (user.image==null) { %>
             <h3 class="foto-error">No tienes foto de perfil</h3>
            <% } %>
            <img class="image"src="/images/users/<%= user.image %>" alt="">
        </div>
        <article class="text-box">
        <article class="data">
         <strong>First Name:</strong><%= user.first_name %> 
        </article>
        <article class="data">
         <strong>Last Name:</strong><%= user.last_name %> 
        </article>
        <article class="data">
         <strong>Email:</strong>   <%= user.email %> 
        </article>
        <article class="data">
           <strong>Telephone:</strong> <%= user.telephone %> 
        </article>
        <article class="data">
        <strong>Addres:</strong> <%= user.address %> 
        </article>
        <article class="data">
        <strong>Number:</strong><%= user.number %> 
        </article>
        <article class="data">
        <strong>Zipcode:</strong><%= user.zipcode %>    
        </article>
        <article class="data">
        <strong>State:</strong><%= user.state %>, <%= user.country %>  
        </article>
        <form class="logoutbtnForm" action="/user/logout">
            <button class="logoutbtn" type="submit">Logout</button>
        </form>
        </div>
        </article>
    </section>
    <%- include('../partials/footer.ejs'); -%>
</body>
</html>