<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs'); -%>
    <%- include('../partials/header.ejs'); -%>
<body>
    <section class="data-box">
        <div class="image-box">
            <img class="image"src="/images/<%= user.Image %> " alt="">
        </div>
        <article class="text-box">
        <article class="data">
         <strong>Firs Name:</strong><%= user.First_Name %> 
        </article>
        <article class="data">
         <strong>Last Name:</strong><%= user.Last_Name %> 
        </article>
        <article class="data">
         <strong>Email:</strong>   <%= user.Email %> 
        </article>
        <article class="data">
           <strong>Telephone:</strong> <%= user.Telephone %> 
        </article>
        <article class="data">
        <strong>Addres:</strong> <%= user.Address %> 
        </article>
        <article class="data">
        <strong>Number:</strong><%= user.Number %> 
        </article>
        <article class="data">
        <strong>Zipcode:</strong><%= user.Zipcode %>    
        </article>
        <article class="data">
        <strong>State:</strong><%= user.State %>, <%= user.Country %>  
        </article>
        </div>
        </article>
    </section>
    <%- include('../partials/footer.ejs'); -%>
</body>
</html>