<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs'); -%>
    <%- include('../partials/header.ejs'); -%>
<body>
    <section class="data-box">
        <div class="image-box">
            <img class="image"src="/images/products/<%= user.image %> " alt="">
        </div>
        <article class="text-box">
        <article class="data">
         <strong>Firs Name:</strong><%= user.first_name %> 
        </article>
        <article class="data">
         <strong>Last Name:</strong><%= user.last_name %> 
        </article>
        <article class="data">
         <strong>Email:</strong>   <%= user.email %> 
        </article>
        <article class="data">
           <strong>Telephone:</strong> <%= user.telephone %> 
        </article>
        <article class="data">
        <strong>Addres:</strong> <%= user.address %> 
        </article>
        <article class="data">
        <strong>Number:</strong><%= user.number %> 
        </article>
        <article class="data">
        <strong>Zipcode:</strong><%= user.zipcode %>    
        </article>
        <article class="data">
        <strong>State:</strong><%= user.state %>, <%= user.country %>  
        </article>
        </div>
        </article>
    </section>
    <%- include('../partials/footer.ejs'); -%>
</body>
</html>